* {
    background-color: rgb(137, 137, 252);
    color: white;
    font-size: 18px;
    outline: 2px solid red; 
}
h1{
    font-size: 32px;
    color: black;
    text-align: center;
}
.middle{
color: blue;
text-align: center;
font-size: 24px;
}
.middle-smaller{
    color: blue;
    text-align: center;
    font-size: 12px;
    font-style: italic;
    font-weight: lighter;
    }
.text-center{
text-align: center;
}
ul{
    text-align: left;
}
ol{
    text-align: left;
}
.rounded-edges {
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 50%;
   border-radius: 40px;
}
.circle-img {
    display: block;
   margin-left: auto;
   margin-right: auto;
   width: 50%;
   border-radius: 50%;
}
.bread {
    background-color: orange;
    color: white;
}
.macaroni {
    background-color: green;
    color: white;
}
.bread, .macaroni {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}
.container .text {
    background-color: yellow;
    color: red;
    font-size: 20px;
    text-align: center;
  }
.box-maintext {
    padding: 20px;
    border: 10px;
}